<nav class="level is-mobile mx-1" id="navbar">
    <div class="level-left">
        <p class="level-item has-text-centered is-size-4">
            <strong>Ethan Moyer</strong>
        </p>
    </div>
    <div class="level-right">
        <p class="level-item has-text-centered is-size-5">
            <a class="link" href="/">
                Projects
            </a>
        </p>
        <!--<p class="level-item has-text-centered is-size-5">
            <a class="link" href="/archive">
                Posts
            </a>
        </p>-->
        <p class="level-item has-text-centered is-size-5">
            <a class="link" href="/about">
                About
            </a>
        </p>
        <p class="level-item has-text-centered is-size-5">
            <a class="link" href="/images/Resume.pdf" target="blank">
                Resume
            </a>
        </p>
    </div>
</nav>
<hr class="divider mx-1">