<!DOCTYPE html>
<html>
    {% include head %}
    <body>
        <div class="container is-max-desktop">
            {% include navbar %}
            <div class="content mx-1">
                {{ content | safe }}
            </div>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Website made by <a href="https://github.com/ethan-moyer">Ethan Moyer</a>. Made with <a href="https://bulma.io/">Bulma</a> and <a href="https://www.11ty.dev/">11ty</a>. The source code can be found <a href="#">here.</a>
                </p>
            </div>
        </footer>
    </body>
</html>