<!DOCTYPE html>
<html>
    {% include head %}
    <body>
        <div class="columns is-flex-direction-column is-fullheight-100vh">
            <div class="column container is-max-desktop">
                {% include navbar %}
                <div class="content mx-1">
                    {{ content | safe }}
                </div>
            </div>
            <footer class=" column footer">
                <div class="content has-text-centered">
                    <p>
                        Website made by <a href="https://github.com/ethan-moyer">Ethan Moyer</a>. Made with <a href="https://bulma.io/">Bulma</a> and <a href="https://www.11ty.dev/">11ty</a>. The source code can be found <a href="https://github.com/ethan-moyer/MySite">here.</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>